@import "tailwindcss";

@theme {
  --color-deep-plum: #4B1528;
  --color-plum: #72243E;
  --color-rose: #993556;
  --color-bloom: #D4537E;
  --color-blush: #F4C0D1;
  --color-mist: #FBEAF0;
  --color-ink: #2C2C2A;
  --color-slate: #5F5E5A;
  --color-stone: #B4B2A9;
  --color-sand: #F1EFE8;
}